.label {
  height: 200px;
  max-width: 350px;
  display: grid;
  place-items: center;
  border: 2px solid #0b658f;
  border-radius: 10px;
  margin: 20px auto;
  cursor: pointer;

  input {
    display: none;
  }
}

.icon {
  font-size: 5.5rem;
}

h2 {
  font-size: 1.11rem;
  margin: 0 5px;
  text-align: center;
}

@media (min-width: 768px) {
  .label {
    max-width: 550px;
  }
}

@media (min-width: 1080px) {
  .label {
    max-width: 750px;
  }
}
