.list {
  min-width: 350px;

  li {
    max-width: 350px;
    list-style: none;
    padding: 8px;
    border: 1px solid #0b658f52;
    border-radius: 8px;
    margin: 3px 0;
    padding-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      display: flex;
      align-items: center;
    }

    span:hover svg path {
      color: #ddd;
    }

    p {
      max-width: 92%;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    svg {
      font-size: 1.2rem;
      cursor: pointer;
    }

    p,
    span,
    svg {
      background: transparent;
    }
  }

  li:first-child,
  li:nth-child(2n + 1) {
    background: #0b658f;
  }
  li:nth-child(2n) {
    background: #083044;
  }
}

.listWrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .list {
    min-width: 550px;

    li {
      max-width: 550px;
    }
  }
}

@media (min-width: 1080px) {
  .list {
    min-width: 750px;

    li {
      max-width: 750px;
    }
  }
}
